.mainbody {
    background-color: #DAE2B6;
    line-height: 1; 
}

img {
    margin-left: 100px;
    margin-top: 100px;
    height: 300px;
}

.pages{
    position: absolute;
}

#page1{
    height: 100vh;
    width: 100vw;
    margin-left: 0vw;
    position: relative;
}

#page2{
    background-color:#1f4716;
    background-image: url("/images/background.png");
    background-size: contain;
    height: 100vh;
    width: 100vw;
    margin-top: -100vh;
    margin-left: 100vw;
    position: relative;
    border-image-repeat:stretch!important;
}

body{
    margin: 0;
}

.animate1 {
    animation-duration: 0s;
    animation-name: move1;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animate2 {
    animation-duration: 0s;
    animation-name: move2;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

.animate3 {
    animation-duration: 2s;
    animation-name: move3;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animate4 {
    animation-duration: 2s;
    animation-name: move4;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}


@keyframes move1 {
    0% {
        margin-left: 0vw;
    }
    100% {
        margin-left: -100vw;
    }
}

@keyframes move2 {
    0% {
        margin-left: 100vw;
    }
    100% {
        margin-left: 0vw;
    }
}

@keyframes move3 {
    0% {
        margin-left: -100vw;
    }
    100% {
        margin-left: 0vw;
    }
}

@keyframes move4 {
    0% {
        margin-left: 0vw;
    }
    100% {
        margin-left: 100vw;
    }
}

@keyframes disappear {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100vh);
      opacity: 0;
    }
  }
  
@keyframes appear {
    0% {
      transform: translateY(100vh);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

.fancyAnimationAppear{
    animation: appear 0.5s linear forwards;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.fancyAnimationDisappear{
    animation: disappear 0.5s linear forwards;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}