/* Butões do Pet*/

.gameButton {
    border-image-repeat:stretch!important;
    text-align: center;
    margin-top: -10px;
}

.buttonPlay {
    border-image-repeat:stretch!important;
    position: relative;
    font-size: 15px;
    margin-left: 150px;
    margin-top: 10px;
  }

.buttonAction:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: -5px;
}

.buttonLogout {
    display: inline; 
    float: right; 
    border-radius: 10%;
    margin-top: -7px;
}

/* General Stuff?*/
.footer {
    height: 75px;
    padding:1%;
    bottom: 0;
    left: 0;
    position: absolute!important;
    background-color: #FFFBE9;
    width: 100%;    
}

.header {
    font-size: 15px;
    padding:1%;
    top: 0;
    left: 0;
    background-color: #FFFBE9;
    width: 100%;
    color: black;
    position: relative;
}

/* Overall Table*/

.gameWindow{
    visibility: hidden;
    width: 100vw;
    border-collapse: collapse;
    margin-top:4vw;
}

.fix{
    border-image-repeat:stretch!important;
}

.petName {
    display: inline;
}

/* Pet Status */

.petStatus{
    width: 200px;
}

.chatSize{
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;
}

.petBars{
    margin-left: 5%;
    margin-right: 20px;
    width: 250px;
    height: 325px;
    background-color: rgba(255, 255, 255);
    padding: 5%;
    text-align: center;
}

.bars{
    content: "";
    display: table;
    clear: both;
    margin-top: 20px;
}

.red {
    height: 20px;
    color:#000!important;
    background-color:#f10b0b!important;
}

.grey {
    height: 20px;
    color:#000!important;
    background-color:#9e9e9e!important;
}

.blue {
    height: 20px;
    color:#000!important;
    background-color:#0ea0f5!important;
}

.yellow {
    height: 20px;
    color:#000!important;
    background-color:#cee741!important;
}

.round {
    border-radius:4px;
}

/*Pet Game*/

.petGame{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24vh;
    width: 50%;
}

/*Pet Chat */

.petChat{
    width: 27%;
}

.chatCont{
    border-image-repeat:stretch!important;
    background-color:white;
    height: 65vh;
}

.scrollChat{
    overflow-y: auto;
    height: 50vh;
    position: relative;
    
}

.balloonChat{
    border-image-repeat:stretch!important;
}

.nes-balloon {
    border-image-repeat: stretch!important; 
}

/* Volume Bar*/

/*#player {
    width: 350px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    top: 80px;
  }
  
#player i {
  position: absolute;
  margin-top: -6px;
  color: #666;
}

.fa-volume-down {
  margin-left: -8px;
}

.fa-volume-up {
  margin-right: -8px;
  right: 0;
}

#volume {
  position: absolute;
  left: 24px;
  margin: 0 auto;
  height: 5px;
  width: 300px;
  background: #555;
  border-radius: 15px;
}

#volume .ui-slider-range-min {
  height: 5px;
  width: 300px;
  position: absolute;
  background: #2ecc71;
  border: none;
  border-radius: 10px;
  outline: none;
}

#volume .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #FFF;
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  cursor: pointer;
  outline: none;
} */

