.buttonLS {
    margin-top: 45vh;
    text-align: center;
}

.buttonF{
    text-align: center;
}

.buttonD {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: -1px 1px 0px 0px, -2px 2px 0px 0px, -3px 3px 0px 0px, -4px 4px 0px 0px, -5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 10px;
}

.buttonD:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: -5px;
}

#player {
    width: 350px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    top: 80px;
  }
  
  #player i {
    position: absolute;
    margin-top: -6px;
    color: #666;
  }
  
  .fa-volume-down {
    margin-left: -8px;
  }
  
  .fa-volume-up {
    margin-right: -8px;
    right: 0;
  }
  
  #volume {
    position: absolute;
    left: 24px;
    margin: 0 auto;
    height: 5px;
    width: 300px;
    background: #555;
    border-radius: 15px;
  }
  
  #volume .ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: #2ecc71;
    border: none;
    border-radius: 10px;
    outline: none;
  }
  
  #volume .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #FFF;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
  }
  


	

